* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    @font-face {
        font-family: 'PlusJakartaSans';
        src: url('Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        src: url('Fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    }
}

header {
    width: 100%;
    background-color: #FCF9F8;
    border-bottom: 1px solid #BFCABA;
}

.header-container {
    margin: 0 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav {
    font-family: "Inter", sans-serif;

}

.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-weight: 500;
}

.nav li a.active {
    color: #0D631B;
    font-weight: bold;
}

.search-container {
    display: flex;


}

.search {
    display: flex;
    justify-content: space-around;
    border: 1px solid #BFCABA;
    padding: 6px 14px;
    color: #6B7280;
    border-radius: 16px;
    margin-left: 26px;

}

.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 12px;
    background-color: #FCF9F8;
}

.search p {
    margin: 0;
}

.toggle {
    margin-left: 100px;
    margin-right: 100px;

    margin-top: 25px;
    font-size: 14px;
}

.fruit-vegetable-1 {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    display: flex;
}

.fruit-vegetable-col1 {
    width: 30%;
}

.fruit-vegetable-col1 form {
    font-size: 14px;
    ;

}

.fruit-vegetable-col2 {
    width: 70%;
}

.fv-col2-top {
    margin-left: 20x;
    background-color: #F6F3F2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.fv-col2-top h2 {
    color: #1C1B1B;
    font-weight: bold;
    font-size: 30px;
}

.vitamin-c-2 {
    background-color: #EBE7E7;
    color: #40493D;
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 14px;
}

.vitamin-c-3 {
    background-color: #EBE7E7;
    color: #40493D;
    border-radius: 30px;
    padding: 5px 10px;
    position: absolute;
    top: 70px;
    left: 0px;
    margin-left: 0;
    font-size: 14px;
}

.vitamin-c-green {
    background-color: #A3F69C;
    color: #005312;
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 14px;
}

.popularity {
    border: 1px solid #BFCABA;
    background-color: #FCF9F8;
    padding: 6px 15px 6px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}




.best-cards {
    width: 31% !important;
    border-bottom-left-radius: 25px;
    background-color: #FCF9F8;
    border-bottom-right-radius: 25px;
    position: relative;

}

.best-cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    margin-bottom: 15px;

}

.fv-card-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.best-cards span {
    color: #0D631B;
    font-weight: bold;
}

.best-cards h3 {
    width: 160px;
    font-size: 18px;
    font-weight:600;
    padding-right: 56px;
}

.best-cards p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #40493D;
}

.best-cards h3,
p,
span {
    margin-left: 18px;
    margin-top: 8px;
}

.best-cards p {
    margin-left: 18px;
    margin-top: 8px;
}

.best-cards h3,
p,
span {
    margin-left: 18px;
    margin-top: 8px;
}

.best-cards span {
    font-size: 18px;
    font-weight: 600;

}

.limited {
    background-color: #BA1A1A;
    font-size: 6px;
    font-weight: 100;
    position: absolute;
    top: 8px;
    padding: 1px 6px;
    border-radius: 25px;
    color: #fff !important;

}





















.page-toggle {
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 40px;
}

.page-nos {
    display: flex;
    gap: 0px;
    padding-left: 28%;
}

.page-nos-round {
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #BFCABA;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40493D;


}






footer {
    background-color: #F0EDEC;
    height: 300px;

}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.right-flex h4 {
    margin-bottom: 10px;
}

.right-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.right-flex ul {
    list-style: none;
}

.right-flex ul li {
    margin-bottom: 8px;
}

.footer-img {
    display: flex;
}

.footer-icon {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
    padding: 8px;
}